{
        "tz": "Europe/Paris",
        "title": {
                "text": "FILEBROWSER",
                "url": "",
                "image": ""
        },
        "bookmarks": {
                "enabled": "yes",
                "max": 15
        },
	"fastmode": {
		"threshold": 5000
	},
        "auth": "ldap",
        "ldap": {
                "uri": "ldap://your.ldap.server:389",
                "pattern": "cn={login},ou=DAP,ou=DOP,dc=xxxx,dc=xxxx",
		"baseDN": "DC=xxx,DC=yyy",
                "protocol_version": 3
        },
        "display": {
                "columns": [ "Filename", "Size", "Perms", "mtime",  "type", "actions" ],
                "pagesize": 15
        },
        "csv": {
                "enabled": "yes",
                "columns": [ "Filename", "Size", "mtime", "ctime", "type" ]
        },
        "log": {
                "file": "/audit/audit.log",
		"format": "json"
        },
        "volumes": [
                {
                "name": "/tmp",
                "path": "/tmp",
                "download": "yes",
                "delete": "yes",
                "upload": "yes",
                "showhiddenfiles": "yes",
		"groups": [ "group1", "group2" ]
                },
                {
                "name": "Home",
                "path": "/home",
                "download": "yes",
                "delete": "no",
                "upload": "no",
                "encoding": "iso-8859-1"
                }
        ],
        "default": "/tmp"
}
